<!DOCTYPE html>
<html ng-app="QuickDevApp" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        
        <title></title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
        <script src="js/app-services.js"></script>
        <script src="js/app-controller.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="PersonCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Person Details</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="id">Person Id</label>
                        <input type="text" ng-model="person.id" class="form-control" id="id"/>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" ng-model="person.firstName" class="form-control" id="firstName"/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ng-model="person.lastName" class="form-control" id="lastName"/>
                    </div>
            
                    <button type="button" ng-click="save()" class="btn btn-default"><span class="glyphicon glyphicon-save"></span> Save</button>
                </form>
            </div>
        </div>
    </body>
</html>
